<div fxLayout="column" ftLayout.lt-sm="column" fxLayoutAlign="center center" style="padding-top: 150px;">
    <h1 style="text-align: center;">Vaccine Availability Notification</h1>
</div>
<!-- <div *ngIf="alert" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Registered successfully.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div> -->
<div class="container p-3 my-3 border" fxLayout="column" style="align-items: center;">
    <div fxLayout="column" *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert"
        style="text-align: center;width: 300px;align-items: center;">
        <strong style="width: 300px;">Success!!</strong> Registered successfully. Notification will send to registered email.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div fxLayout="column" class="container-fluid" style="width: 300px;">

        <form #userForm="ngForm" (ngSubmit)="onSubmit();userForm.reset()">
            <!-- {{userForm.value | json}}
        {{userModel | json}} -->
            <div *ngIf="email.errors?.required && email.touched ">
                <small style="color: brown;"  class="help-block">Email required *</small>
            </div>
            <div *ngIf="email.errors && email.errors.email">
                <small style="color: brown;" class="help-block">Email invalid *</small>
            </div>

            <div fxLayoutAlign="center center" class="form-group" [class.has-error]="email.touched"
             [class.has-success]="email.valid" fxLayout="column">
                <input required email #email="ngModel" style="width: 270px;" type="email" placeholder="email"
                    class="form-control" name="email" [(ngModel)]="userModel.email">
            </div>

            <div *ngIf="pincode.invalid && pincode.touched">
                <small style="color: brown;" class="error">Pincode required *</small>
            </div>

            <div fxLayoutAlign="center center" class="form-group">
                <input required #pincode="ngModel" style="width: 270;" type="text" placeholder="pincode"
                    class="form-control" name="pincode" [(ngModel)]="userModel.pincode">

            </div>

            <div *ngIf=" ageGroupHasError && ageGroup.invalid && ageGroup.touched">
                <small style="color: brown;" class="error">Age Group required *</small>
            </div>
            <div  class="form-group">
                <select required (blue)="validateAgeGroup(ageGroup.value)" (change)="validateAgeGroup(ageGroup.value)"  class="custom-select" name="ageGroup" #ageGroup="ngModel" [(ngModel)]="userModel.ageGroup" >
                    <option value="0" disabled >Select Age Group</option>
                    <option value="18">18+</option>
                    <option value="40">40-44</option>
                    <option value="45">45+</option>
                </select>
            </div>

            <div fxLayoutAlign="center center">
                <button [disabled]="userForm.form.invalid || ageGroupHasError " style="width: 100px;" class="btn btn-primary btn-block" type="submit"
                    (click)="registerUser()">Register</button>
            </div>
        </form>

    </div>
</div>


<div style="text-align: center;align-items: center;" class="navbar navbar-inverse navbar-fixed-bottom"
    ftLayout.lt-sm="column">
          <div class="container">
                <p style="width: 300px;text-align: center;" class="navbar-text">© 2021 by P. Vaisakh<br> Warning: Under
            testing. </p>
            </div>
</div>